html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.ken {
  background: url(Images/c.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  text-align: center;
  background-color: #d4e09b;
  border: 1px solid #d4e09b;
  text-shadow: 3px 3px #f9c74f;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  word-spacing: 1rem;
  letter-spacing: 1.5px;
}

nav {
  font-size: 2.7rem;
  background-color: #cbdfbd;
  text-align: center;
  margin: 1rem;
  border-radius: 1rem;
}

nav ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  margin: 1rem;
}

nav li {
  color: black;
  padding: 1rem;
}

nav li:hover {
  background-color: #f19c79;
  color: white;
}

@media screen and (min-width: 700px) {
  nav ul {
    flex-direction: row;
    justify-content: flex-end;
  }
  nav li {
    margin: 0 0.7rem;
  }
}

p {
  margin: 1.5rem;
  word-spacing: 2px;
  letter-spacing: 0.5px;
}

.main {
  width: 100%;
  height: 55rem;
  margin: 1rem;
}

.pic {
  width: 600px;
  height: 500px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2,
h3 {
  text-align: center;
}

footer {
  line-height: 4rem;
  text-decoration: none;
}

footer ul {
  list-style: none;
  text-align: left;
  margin-left: 1rem;
  padding-left: 0;
  text-decoration: none;
}
